.Header {
  background-color: var(--color-primary);
  color: var(--color-accent);
  text-transform: uppercase;
  padding: 5px 0;
}

.Header h1 {
  font-weight: lighter;
  font-size: 1.6rem;
}

.content {
  width: 1280px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
