.Header {
  background-color: var(--color-primary);
  padding: 5px 0;
}

.Content {
  width: 1280px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.Header .Content h1 a {
  font-weight: lighter;
  text-transform: uppercase;
  color: var(--color-accent);
  text-decoration: none;
  font-size: 1.6rem;
}

@media (max-width: 1040px) {
  .Content {
    text-align: center;
  }
}
