.Home {}

.Container {
  width: 1280px;
  max-width: 100%;
  padding: 0 20px;
  margin: 30px auto;
}

.Home .Box {
  width: 100%;
  background-color: var(--color-light-background);
  margin: auto;
  text-align: justify;
  border-radius: 5px;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15); 
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
}

.Home h2 {
  margin-bottom: 20px;
  color: var(--color-dark-gray);
  font-weight: lighter;
}

.Home p {
  margin-bottom: 30px;
  color: var(--color-dark-gray);
}

.Home a {
  font-weight: bold;
  color: var(--color-accent);
  margin-bottom: 30px;
}
