.ProductsForm h2 {
  color: var(--color-dark-gray);
  margin-bottom: 25px;
}

.ProductsForm .Message {
  margin-bottom: 15px;
}

.ProductsForm>.Link, .ProductsForm>input[type=submit] {
  float: right;
  margin: 0px 0 10px 0;
  margin-left: 10px;
}

.ProductsForm form {
  width: 100%;
  margin: 20px 0;
}

.ProductsForm .FormGroup {
  border-right: 10px solid white;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 30px;
}

.ProductsForm .FormGroup:last-of-type {
  margin-bottom: 15px;
}

.ProductsForm .Size100 {
  width: 100%;
}

.ProductsForm .Size50 {
  width: 49.9%;
}

.ProductsForm .Size33 {
  width: 33.3%;
}

.ProductsForm .Size33:last-of-type, .ProductsForm .Size33:last-of-type {
  border-right: none;
}

.ProductsForm label {
  display: block;
  margin-bottom: 10px;
  color: var(--color-dark-gray);
}

.ProductsForm input[type=text], .ProductsForm select {
  display: inline-block;
  width: 100%;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.ProductsForm input[type=submit] {
  display: inline-block;
  padding: 5px 10px 3px 10px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--color-normal);
}

.Mandatory {
  border-left: 2px solid rgb(255, 222, 75) !important;
}

.Error {
  border-left: 2px solid rgb(255, 75, 75) !important;
}

.ProductsForm input[type=text]:focus, .ProductsForm select:focus {
  outline: none;
  background-color: #eee;
}

.ProductsForm .MandatoryNotice {
  display: block;
  color: var(--color-dark-gray);
  margin-bottom: 30px;
}

.ProductsForm .MandatoryNotice div {
  display: inline-block;
  background-color: rgb(255, 222, 75);
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 3px;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .FormGroup {
    display: block !important;
    width: 100% !important;
  }
}
