.SideMenu {
  background-color: var(--color-light-background);
  margin: 15px 0 0 0;
  border-radius: 5px;
  min-width: 200px;
  flex-basis: 140px;
  flex-grow: 1;
  flex-shrink: 1;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15); 
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
}

.SideMenu header {
  background-color: var(--color-primary);
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.SideMenu h3 {
  color: var(--color-accent);
  font-weight: lighter;
}

.SideMenu ul {
  list-style-type: none;
}

.SideMenu ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: var(--color-dark-gray);
}

.SideMenu ul li a:hover {
  background-color: #f5f5f5;
}

.SideMenu footer {
  text-align: center;
  margin: 10px auto;
}

.SideMenu small {
  color: var(--color-light-gray);
  font-size: 0.6rem;
}

@media (max-width: 1200px) {
  .SideMenu {
    text-align: center;
  }
}
