.Tab {
  background-color: var(--color-light-background);
  margin: 15px 0 0 15px;
  padding: 20px 15px;
  border-radius: 5px;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 950px;
}

@media (max-width: 1200px) {
  .Tab {
    margin-left: 0;
  }
}
