.Tab {
  background-color: var(--color-light-background);
  margin: 15px 0 0 15px;
  padding: 20px 15px;
  border-radius: 5px;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 950px;
  max-width: 100%;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15); 
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
}

@media (max-width: 1200px) {
  .Tab {
    margin-left: 0;
  }
}
