.SideMenu {
    background-color: var(--color-light-background);
    margin: 15px 0 0 0;
    padding: 20px 15px;
    border-radius: 5px;
}

.SideMenu ul {
    list-style-type: none;
    margin-top: 25px;
}

.SideMenu ul li {
    margin: 10px auto;
}

.SideMenu ul li a {
    
}
