:root {
  --color-primary: #344955;
  --color-accent: #F9AA33;
  --color-light-background: #FFF;
  --color-dark-background: #eef0f1;
  --color-light-gray: #707070;
  --color-dark-gray: #414141;
  
  --color-danger: #dc3545;
  --color-normal: #0062cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-dark-background);
}
